.div-service-table {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    min-height: 50vh;
    flex-direction: column;
    margin: 0;
}

.service-table {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 70%;
    text-align: center;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
}

.search-container input[type="text"] {
    padding: 10px;
    margin-right: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    flex: 1; 
}

.search-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0d1856;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

header {
    color: var(--grey-9);
    padding: 20px;
    background-image: url('back.jfif');
    background-size: cover;
    font-weight: bold;

    width: 100vw;
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: center;

    z-index: 3;
}

.img-header{
    width: 50px;
    margin-right: 1500px;
}

.headerClass {
    width: 100%;
    max-width: 95%;
    
    padding: 8px;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-link{
    display: flex;
    gap: 50px;
    margin: 20px;
}


.headerClass a {
    color: white; 
    text-decoration: none; 
}

.headerClass a:hover {
    text-decoration: underline; 
    color: #fff; 
}

button{
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #0d1856;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}