header {
    color: var(--grey-9);
    padding: 10px;
    background-color: var(--sixth-color);
    font-weight: bold;

    width: 100vw;
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: center;

    z-index: 3;
}

a img{
    width: 200px;
}

.headerClass {
    width: 100%;
    max-width: 95%;
    
    padding: 8px;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.headerClass > ul {
    display: flex;
    gap: 50px;
}

.CardsClass{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    gap: 10px;
}

.MyCard{
    border: 3px solid var(--sixth-color) ;
    border-radius: 40px;

}

.card-body{
    display: flex;
    flex-direction: column;
}

